enter_details

<%= form_for @project, url: wizard_path do |f| %>
  <% if f.object.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(f.object.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% f.object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @project.selected_addition %>
    Project will have addition
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>


    <%= f.fields_for :general_repair_permit do |ff| %>
      <% if @project.general_repair_permit.addition %>
        Addition is true
      <% end %>
      <div>
        <%= ff.label :work_summary %>
        <%= ff.text_area :work_summary %>
      </div>

    <% end %>
    <%= f.fields_for :historical_cert_appropriateness do |fff| %>
      <div>
        <%= fff.label :work_summary %>
        <%= fff.text_area :work_summary %>
      </div>
    <% end %>
  </div>


  <div class="actions">
    <%= f.submit "Next Step" %>
  </div>  
<% end %>